.tagcloud {
  width: auto;
  margin: auto;
  font-size: 18px;
}

.taglist {
  list-style-type: none;
  padding: 0;
}

.tag {
  margin: 5px 5px 5px 10px;
  float: left;
}

.link {
  text-decoration: none;
}

.count {
  opacity: 0.5;
  display: inline-block;
}
